{% extends "email/base.html" %}
{% block title %}
<title>Listaflow: Reset your password</title>
{% endblock %}

{% block content %}
<div class="header">
	Reset your password
</div>
<p class="paragraph">
	A request has been made to reset your password. If you made this request, please select the button below.
</p>
<br>
<a href="{{ verification_url }}" type="link" class="button">
  Reset password
</a>
<div class="footer">
	If you didn't request to change your password, you can ignore this email.
</div>
{% endblock %}
